<mat-dialog-content>
    <form class="container" [formGroup]="sabogadoformGroup" (ngSubmit)="onSaveForm()">
        
        <mat-form-field>
            <input matInput placeholder="odico_no" formControlName="odico_no" value="{{ this.sabogadoSerive.selected.odico_no}}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ciudad" formControlName="ciudad" value="{{ this.sabogadoSerive.selected.ciudad}}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="fecha" formControlName="fecha" value="{{ this.sabogadoSerive.selected.fecha}}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="funcionario_archivo" formControlName="funcionario_archivo" value="{{ this.sabogadoSerive.selected.funcionario_archivo}}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="asunto" formControlName="asunto" value="{{ this.sabogadoSerive.selected.asunto}}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="referencia_catastral" formControlName="referencia_catastral" value="{{ this.sabogadoSerive.selected.referencia_catastral}}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="abogado_solicitante" formControlName="abogado_solicitante" value="{{ this.sabogadoSerive.selected.abogado_solicitante}}">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">
            <mat-icon>save</mat-icon>Guardar
        </button>
    </form>
    </mat-dialog-content>