<mat-dialog-content>
<form class="container" [formGroup]="historicoochoformGroup" (ngSubmit)="onSaveForm()">
    
    <mat-form-field>
        <input matInput placeholder="REF_CATASTRAL_1" formControlName="REF_CATASTRAL_1" value="{{ this.mandamientopagoSerive.selected.REF_CATASTRAL_1}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="REF_CATASTRAL_2" formControlName="REF_CATASTRAL_2" value="{{ this.mandamientopagoSerive.selected.REF_CATASTRAL_2}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="No_RESOLUCION" formControlName="No_RESOLUCION" value="{{ this.mandamientopagoSerive.selected.No_RESOLUCION}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="No_EXPEDIENTE" formControlName="No_EXPEDIENTE" value="{{ this.mandamientopagoSerive.selected.No_EXPEDIENTE}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="FECHA" formControlName="FECHA" value="{{ this.mandamientopagoSerive.selected.FECHA  |  date:'short' }}" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="VIG_DETERMINADAS" formControlName="VIG_DETERMINADAS" value="{{ this.mandamientopagoSerive.selected.VIG_DETERMINADAS}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="HOJA" formControlName="HOJA" value="{{ this.mandamientopagoSerive.selected.HOJA}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="NOTIFICADO_DEVUELTO" formControlName="NOTIFICADO_DEVUELTO" value="{{ this.mandamientopagoSerive.selected.NOTIFICADO_DEVUELTO}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="TOTAL_DETERMINADO" formControlName="TOTAL_DETERMINADO" value="{{ this.mandamientopagoSerive.selected.TOTAL_DETERMINADO}}">
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">
        <mat-icon>save</mat-icon>Guardar
    </button>
</form>
</mat-dialog-content>