<mat-dialog-content>
<form class="container" [formGroup]="historicoseisonceformGroup" (ngSubmit)="onSaveForm()">
    
    <mat-form-field>
        <input matInput placeholder="REFERENCIA" formControlName="REFERENCIA" value="{{ this.historicoseisonceService.selected.REFERENCIA}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="REF_CATASTRAL" formControlName="REF_CATASTRAL" value="{{ this.historicoseisonceService.selected.REF_CATASTRAL}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="FECHA" formControlName="FECHA" value="{{ this.historicoseisonceService.selected.FECHA |  date:'short' }}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="No_RESOLUCION" formControlName="No_RESOLUCION" value="{{ this.historicoseisonceService.selected.No_RESOLUCION}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="No_EXPEDIENTE" formControlName="No_EXPEDIENTE" value="{{ this.historicoseisonceService.selected.No_EXPEDIENTE}}" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="VIG_DETERMINADAS" formControlName="VIG_DETERMINADAS" value="{{ this.historicoseisonceService.selected.VIG_DETERMINADAS}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="GRUPO" formControlName="GRUPO" value="{{ this.historicoseisonceService.selected.GRUPO}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="NOTIFICADO_DEVUELTO" formControlName="NOTIFICADO_DEVUELTO" value="{{ this.historicoseisonceService.selected.NOTIFICADO_DEVUELTO}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="BUSQUEDA" formControlName="BUSQUEDA" value="{{ this.historicoseisonceService.selected.BUSQUEDA}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="TOTAL_DETERMINADO" formControlName="TOTAL_DETERMINADO" value="{{ this.historicoseisonceService.selected.TOTAL_DETERMINADO}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="NO_IMAGE_SCANED" formControlName="NO_IMAGE_SCANED" value="{{ this.historicoseisonceService.selected.NO_IMAGE_SCANED}}">
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">
        <mat-icon>save</mat-icon>Guardar
    </button>
</form>
</mat-dialog-content>