<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar> Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/menu/rconvenio" *ngIf = "identity == 'ARCHIVO_DETERMINACION' ">RESOLUCION CONVENIOS</a>
      <a mat-list-item routerLink="/menu/nembargo" *ngIf = "identity == 'ARCHIVO_DETERMINACION' || identity == 'ABOGADO' || identity == 'RECEPCIONISTA'">NOTIFICACIÓN EMBARGO</a>
      <a mat-list-item routerLink="/menu/mandamientopago" *ngIf = "identity == 'ARCHIVO_DETERMINACION' || identity == 'ABOGADO' || identity == 'CONTRIBUYENTE' || identity == 'RECEPCIONISTA'">MANDAMIENTO PAGO RESOLUCIONES</a>
      <a mat-list-item routerLink="/menu/resoluciones" *ngIf = "identity == 'ARCHIVO_DETERMINACION' || identity == 'ABOGADO' || identity == 'CONTRIBUYENTE' || identity == 'RECEPCIONISTA'">RESOLUCIONES</a>
      <a mat-list-item routerLink="/menu/runoydos" *ngIf = "identity == 'ARCHIVO_DETERMINACION' || identity == 'ABOGADO' || identity == 'CONTRIBUYENTE' || identity == 'RECEPCIONISTA'">RESOLUCION 2001 - 2002</a>
      <a mat-list-item routerLink="/menu/rembargo" *ngIf = "identity == 'ARCHIVO_DETERMINACION' || identity == 'ABOGADO' || identity == 'CONTRIBUYENTE' || identity == 'BANCO' || identity == 'RECEPCIONISTA'">RESOLUCION EMBARGO</a>
      <a mat-list-item routerLink="/menu/nmensajeria" *ngIf = "identity == 'ARCHIVO_DETERMINACION' || identity == 'ABOGADO' || identity == 'CONTRIBUYENTE'">NOTIFICACION MENSAJERIA</a>
      <a mat-list-item routerLink="/menu/scontribuyente" *ngIf = "identity == 'CONTRIBUYENTE' || identity == 'RECEPCIONISTA'">SOLICITUD CONTRIBUYENTE</a>
      <a mat-list-item routerLink="/menu/sabogado" *ngIf = "identity == 'ABOGADO'">SOLICITUD ABOGADO</a>
      <a mat-list-item routerLink="/menu/sarchivo" *ngIf = "identity == 'ARCHIVO_DETERMINACION'">SOLICITUD ARCHIVO</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon>Salir</button>
      <span></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
