<mat-dialog-content>
<form class="container" [formGroup]="historicoformGroup" (ngSubmit)="onSaveForm()">
    
    <mat-form-field>
        <input matInput placeholder="REF_CATASTRAL" formControlName="REF_CATASTRAL" value="{{ this.historicoSerive.selected.REF_CATASTRAL}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="No_RESOLUCION" formControlName="No_RESOLUCION" value="{{ this.historicoSerive.selected.No_RESOLUCION}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="No_EXPEDIENTE" formControlName="No_EXPEDIENTE" value="{{ this.historicoSerive.selected.No_EXPEDIENTE}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="FECHA" formControlName="FECHA" value="{{ this.historicoSerive.selected.FECHA |  date:'short' }}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="VIG_DETERMINADAS" formControlName="VIG_DETERMINADAS" value="{{ this.historicoSerive.selected.VIG_DETERMINADAS}}" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="NOTIFICADO_DEVUELTO" formControlName="NOTIFICADO_DEVUELTO" value="{{ this.historicoSerive.selected.NOTIFICADO_DEVUELTO}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="BUSQUEDA" formControlName="BUSQUEDA" value="{{ this.historicoSerive.selected.BUSQUEDA}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="TOTAL_DETERMINADO" formControlName="TOTAL_DETERMINADO" value="{{ this.historicoSerive.selected.TOTAL_DETERMINADO}}">
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">
        <mat-icon>save</mat-icon>Guardar
    </button>
</form>
</mat-dialog-content>