<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Registrarse</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" 
            (ngSubmit)="registrar()">
            <mat-form-field>
              <input matInput placeholder="Nombre" formControlName="nombre">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Usuario" formControlName="usuario">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña" formControlName="contrasena">
            </mat-form-field>

            <mat-form-field>
                <input matInput  placeholder="Identificacion" formControlName="identificacion">
            </mat-form-field>

            <mat-form-field>
                <input matInput  placeholder="Apellido" formControlName="apellido">
            </mat-form-field>

            <mat-form-field>
                <input matInput  placeholder="Celular" formControlName="celular">
            </mat-form-field>

            <mat-form-field>
                <input matInput  placeholder="Correo" formControlName="correo">
            </mat-form-field>

            <mat-form-field >
                <mat-select>
                  <mat-option  value="option">CONTRIBUYENTE</mat-option>
                </mat-select>
            </mat-form-field>
            
            
            <button mat-raised-button type="submit">
                Registrar
            </button>
          </form>
    </mat-card>
</div>